// Colors
$color-primary: #3495d9;

$social-colors: ( "twitter": #00aced,
"facebook": #3b5998,
"googleplus": #dd4b39,
"pinterest": #cb2027,
"linkedin": #007bb6,
"youtube": #bb0000,
"vimeo": #1ab7ea,
"tumblr": #32506d,
"instagram": #bc2a8d,
"flickr": #ff0084,
"dribbble": #ea4c89,
"quora": #a82400,
"foursquare": #0072b1,
"wordpress": #21759b,
"stumbleupon": #EB4823,
"yahoo": #7B0099,
"blogger": #fb8f3d,
"soundcloud": #ff3a00,
"whatsapp": #34af23);

// Online Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
