html,
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-family: 400;
}

.material-icons {
  vertical-align: middle;
}

.main-navigation {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
.main-navigation .logo-wrapper {
  flex: 1;
}
.main-navigation .logo-wrapper a {
  display: inline-flex;
  align-items: flex-end;
  text-decoration: none;
  color: #3495d9;
}
.main-navigation .logo-wrapper a img {
  max-width: 50px;
}
.main-navigation .logo-wrapper a span {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
}
.main-navigation .navigation-wrapper {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.main-navigation .navigation-wrapper a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #3495d9;
  text-decoration: none;
  font-size: 0.875rem;
  padding: 8px 12px;
  font-weight: 500;
  letter-spacing: 0.025em;
  background-color: white;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.main-navigation .navigation-wrapper a:hover {
  background-color: rgba(52, 149, 217, 0.1);
}
.main-navigation .secondary-navigation-wrapper {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.main-navigation .secondary-navigation-wrapper a {
  position: relative;
  padding: 0 8px;
  display: inline-block;
}
.main-navigation .secondary-navigation-wrapper a::after {
  content: "";
  height: 100%;
  position: absolute;
  border: 1px solid;
  right: 0;
}
.main-navigation .secondary-navigation-wrapper a:last-child::after {
  display: none;
}

.hero-wrapper {
  min-height: calc(100vh - 71px);
  position: relative;
  background: #36d1dc;
  background: -webkit-linear-gradient(to bottom, #5b86e5, #36d1dc);
  background: linear-gradient(to bottom, #5b86e5, #36d1dc);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero-wrapper .hero-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  background-color: white;
  border-radius: 0 0 5% 25%;
  box-shadow: 0 10px 10px -5px rgba(19, 116, 145, 0.65);
}
.hero-wrapper .hero-content-wrapper {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}
.hero-wrapper .hero-content-wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.hero-wrapper .hero-form-wrapper {
  flex: 0 0 320px;
  max-width: 320px;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
