@import "global";

.main-navigation {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  & .logo-wrapper {
    flex: 1;
    & a {
      display: inline-flex;
      align-items: flex-end;
      text-decoration: none;
      color: $color-primary;
      & img {
        max-width: 50px;
      }
      & span {
        font-size: 2rem;
        font-family: $font-secondary;
        font-weight: 700;
        position: relative;
      }
    }
  }

  & .navigation-wrapper {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    & a {
      display: inline-block;
      font-family: $font-secondary;
      color: $color-primary;
      text-decoration: none;
      font-size: 0.875rem;
      padding: 8px 12px;
      font-weight: 500;
      letter-spacing: 0.025em;
      background-color: white;
      border-radius: 4px;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgba($color-primary, 0.1);
      }
    }
  }

  & .secondary-navigation-wrapper {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: 16px;
    & a {
      position: relative;
      padding: 0 8px;
      display: inline-block;
      &::after {
        content: "";
        height: 100%;
        position: absolute;
        border: 1px solid;
        right: 0;
      }
      &:last-child::after {
        display: none;
      }
    }
  }
}

.hero-wrapper {
  min-height: calc(100vh - 71px);
  position: relative;
  background: #36d1dc;
  background: -webkit-linear-gradient(to bottom, #5b86e5, #36d1dc);
  background: linear-gradient(to bottom, #5b86e5, #36d1dc);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  & .hero-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    background-color: white;
    border-radius: 0 0 5% 25%;
    box-shadow: 0 10px 10px -5px rgba(19, 116, 145, 0.65);
  }
  & .hero-content-wrapper {
		flex: 0 0 50%;
		max-width: 50%;
		position: relative;
		& h2 {
			font-family: $font-secondary;
			font-weight: 400;
		}
	}
	& .hero-form-wrapper {
		flex: 0 0 320px;
		max-width: 320px;
		position: relative;
	}
}
